html {
  height: 100%;
}

body {
  background-color: white;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

button {
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  padding: 15px;
  color: #555;
  text-shadow: 1px 1px 1px white;
}

button:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  text-shadow: none;
}

button.active {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
  text-shadow: none;
}

#form {
  margin: 40px auto;
  padding: 40px;
  border-radius: 5px;
  border: 1px solid #777;
  background-color: rgb(118, 142, 146);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  row {
    display: flex;
    padding: 4px;
    justify-content: left;
    align-items: center;
  }

  label {
    text-align: right;
    min-width: 120px;
    margin-right: 10px;
  }
  span {
    margin-left: 10px;
  }

  button{
    margin-top:20px;
  }
  input[type='number'] {
    width: 40px;
  }
  input {
    font-size: 16px;
    padding: 5px 10px;
  }
  

  label, span {
    color: #eee;
  }
}

#root {
  display: flex;
  flex-direction: column;
  padding: 30px;

  div#users {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    .user {
      display: flex;
      flex-direction: column;
      background-color: beige;
      border: 1px solid #e6e6c8;
      border-radius: 3px;
      margin: 10px;
      padding: 20px;


      .delete-button {
        text-align: right;
        margin-bottom: 10px;
      }

      .delete-button button{
        width: 30px;
        height: 30px;
        text-align: center;
        margin: 0;
        padding: 3px;
        border: 1px solid rgb(189, 176, 158);
        border-radius: 50%;
        background: none;
      }
      .delete-button button:hover {
        font-weight: 700;
        color: red;
        border: 1px solid red;

      }

      row {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-items: center;

        span {
          color: #777;
          margin-right: 10px;
        }

        input {
          padding: 5px;
          font-size: 18px;
        }
        input:disabled {
          background:none;
          border: 1px;
        }
      }

      button{
        margin-top:10px;
      }
    }
  }
}




